div.scrollmenu {
    display: flex;
     
   
      overflow: auto;
      white-space: nowrap;
    } 
#takscroll{
   background-color: pink;
   direction: rtl;
}

  #takhelen {
    background-color: pink;
    direction: rtl;
  }
    